NODE_ENV=development
PORT=3000
ALLOWED_ORIGINS=*

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

GMAIL_USER=
GMAIL_APP_PASSWORD=

RUN_INTEGRATION_TESTS=false
TEST_ACCESS_TOKEN=
TEST_SIGNUP_OTP=
